@model WebSale.Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;

@{
    ViewBag.Title = "Liên hệ";
    ViewBag.MetaKeyword = "liên hệ";
    ViewBag.MetaDescription = "Thông tin liên hệ của TEDU SHOP";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section footerJS{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9YCrkR34y7pg_5821dizhg8-EStbSTFk"></script>
    <script src="~/Asset/client/js/controllers/contact.js"></script>
}
<style>
    #map {
        height: 600px;
    }
</style>
@*<link href="@Url.Content("~/" + @BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl)" rel="stylesheet" type="text/css" />*@
<input type="hidden" id="hidAddress" value="@Model.ContactDetail.Name<br />Điện thoại:@Model.ContactDetail.Phone <br>Địa chỉ: @Model.ContactDetail.Address" />
<input type="hidden" id="hidLat" value="@Model.ContactDetail.Lat" />
<input type="hidden" id="hidLng" value="@Model.ContactDetail.Lng" />
<input type="hidden" id="hidName" value="@Model.ContactDetail.Name" />
<div class="main">
    <div class="reservation_top">
        <div class="contact_right">
            <h3>Thông tin liên hệ</h3>
            <address class="address">
                <p>@Model.ContactDetail.Address</p>
                <dl>
                    <dt> </dt>
                    <dd>Điện thoại:<span> @Model.ContactDetail.Phone</span></dd>
                    <dd>E-mail:&nbsp; <a href="mailto:@(Model.ContactDetail.Email)">@(Model.ContactDetail.Email)</a></dd>
                </dl>
            </address>
            <div class="clearfix"></div>
            <div id="map"></div>
        </div>
    </div>

    <div class="reservation_top">
        <div class="contact_right">
            <h3>Gửi thông tin liên hệ</h3>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "Contact", FormMethod.Post))
                {
                    if (ViewData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Chúc mừng bạn! </strong> gửi phản hồi thành công.
                            <br />Chúng tôi sẽ liên hệ lại sớm nhất có thể.
                        </div>
                    }
                    @Html.ValidationSummary(false, "", new { @class = "error" });
                    @Html.TextBoxFor(model => model.Name, new { @class = "textbox" });
                    @Html.TextBoxFor(model => model.Email, new { @class = "textbox" });
                    @Html.TextAreaFor(model => model.Message);

                    @*MvcCaptcha contactCaptcha = new MvcCaptcha("contactCaptcha");
                    contactCaptcha.UserInputID = "CaptchaCode";
                    @Html.Captcha(contactCaptcha);
                    @Html.TextBox("CaptchaCode");*@

                    <input type="submit" value="Gửi đi">
                    <div class="clearfix"> </div>
                }
            </div>
        </div>
    </div>
</div>




@*<div class="main">
        <div class="reservation_top">
            <div class=" contact_right">
                <h3>Thông tin liên hệ</h3>
                <address class="address">
                    <p>9870 St Vincent Place, <br>Glasgow, DC 45 Fr 45.</p>
                    <dl>
                        <dt> </dt>
                        <dd>Freephone:<span> +1 800 254 2478</span></dd>
                        <dd>Telephone:<span> +1 800 547 5478</span></dd>
                        <dd>FAX: <span>+1 800 658 5784</span></dd>
                        <dd>E-mail:&nbsp; <a href="mailto@vintage.com">info(at)bigshop.com</a></dd>
                    </dl>
                </address>
                <div class="contact-form">
                    <form method="post" action="contact-post.html">
                        <input type="text" class="textbox" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                        <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                        <textarea value="Message" onfocus="this.value= '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                        <input type="submit" value="Send">
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@